#streamlit==1.24.0
#streamlit==1.12.2
###streamlit==1.28.2
### 2026/09/03  バージョンを削除
streamlit
#opencv-python-headless>=4.1.2
### 2026/09/03 opencv-python-headless==4.6.0.66
opencv-python-headless
#opencv-python==4.6.0.66
### 2026/09/03 Pillow==10.1.0
Pillow
#****　20250304
#torch>=1.8
### OK torch==1.8
#### 2026/09/03 torch==2.5
torch
#math== 3.9
#*****

# yolov5
#ultralytics
##### 2026/09/03 ultralytics==8.0.219
ultralytics


